#imgmenu {
	width:60%;
	max-width:150px;
}
.btnmenu{
	font-size: 12.5px;
	/*margin: 0em 0;*/
	padding: .7em 0em;
	display: block;
	position: relative;
	text-align: center;
	text-overflow:ellipsis;
	overflow: hidden;
	white-space:normal;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.left-button{
  text-align:left;
}
.ui-page-theme-a .btn-panico, 
.ui-page-theme-a .btn-panico:visited {
	background-color: 			#AC1E31 /*{b-bup-background-color}*/;
	border-color:	 		#8B1827 /*{b-bup-border}*/;
	color: 					#fff /*{b-bup-color}*/;
	text-shadow:none;
}

/* Button hover */
.ui-page-theme-a .btn-panico:hover {
	background-color: 			#9B1B2C /*{b-bhover-background-color}*/;
	border-color:	 		#8B1827 /*{b-bhover-border}*/;
	color: 					#fff /*{b-bhover-color}*/;
	text-shadow:none;
}
/* Button down */
.ui-page-theme-a .btn-panico:active {
	background-color: 			#9B1B2C /*{b-bdown-background-color}*/;
	border-color:	 		#8B1827 /*{b-bdown-border}*/;
	color: 					#fff /*{b-bdown-color}*/;
	text-shadow:none;
}

.headerPagInicio{
	background-color: 			#00AFEF /*{a-bar-background-color}*/;
	border-color:	 		#00AFEF /*{a-bar-border}*/;
	color: 					#333 /*{a-bar-color}*/;
	text-shadow: 0 /*{a-bar-shadow-x}*/ 1px /*{a-bar-shadow-y}*/ 0 /*{a-bar-shadow-radius}*/ 	#eee /*{a-bar-shadow-color}*/;
	font-weight: bold;
}

